body {}

#Article_frequency .form-widget-compound>div>div {
    float: left;
    margin-right: 10px;
}

.gallery-index>a {
    display: none;
}

.gallery-index>a:first-child {
    display: block;
}

@import '~lightbox2/src/css/lightbox.css';